@* @{
    ViewData["Title"] = "YouTube Search";
}
 *@
@* <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search YouTube..." />
    <button id="searchButton">🔍</button>
</div> *@

@* <div id="results">


</div>

<script src="~/js/youtube.js"></script>
 *@

@{
    ViewData["Title"] = "Home";
}

<div id="results">


</div>

<script src="~/js/youtube.js"></script>